<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creature.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @creature.element %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creature.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @creature.avatar %>
</p>

<%= link_to 'Edit', edit_creature_path(@creature) %> |
<%= link_to 'Back', creatures_path %>
