<%= simple_form_for(@creature_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :location %>
    <%= f.association :creature %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>