<p id="notice"><%= notice %></p>

<p>
  <strong>Creature location:</strong>
  <%= @battle.creature_location_id %>
</p>

<p>
  <strong>User creature:</strong>
  <%= @battle.user_creature_id %>
</p>

<p>
  <strong>User creature current health point:</strong>
  <%= @battle.user_creature_current_health_point %>
</p>

<p>
  <strong>Creature current health point:</strong>
  <%= @battle.creature_current_health_point %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
