<%= simple_form_for(@user_creature_move) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user_creature %>
    <%= f.association :move %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
