<p id="notice"><%= notice %></p>

<p>
  <strong>User creature:</strong>
  <%= @user_creature_move.user_creature_id %>
</p>

<p>
  <strong>Move:</strong>
  <%= @user_creature_move.move_id %>
</p>

<p>
  <strong>Pp:</strong>
  <%= @user_creature_move.pp %>
</p>

<%= link_to 'Edit', edit_user_creature_move_path(@user_creature_move) %> |
<%= link_to 'Back', user_creature_moves_path %>
