<!DOCTYPE html>
<html>
<head>
  <title>Pokemon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
	<% @user = User.find(current_user.id).email %>
  <p><strong>Email</strong>: <%=current_user.email%></p>
  <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>

<% else %>
  <p><%= link_to "Login", new_user_session_path %></p>
<% end %>
<%= yield %>

</body>
</html>
